*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
    line-height: 2.5em;
}

body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 5em;
    background-color:#d6adad;
    transition: 0.3s;
}

h1:hover {
    letter-spacing: 5px;
}

h2 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 3em;
    padding:10px;
}

h3 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2em;
}

p, a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



/* NAVIGATION BAR */

nav {
    width: 100%;
    height: 5.55em;
    background-color: #d6adad;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
}

nav img {
    max-width: 50px;
    max-height: 50px;
}

nav ul {
    list-style: none;
    padding: 0.625rem 0.625rem;
}

nav ul li {
    padding: 1em;
    display: inline-block;
}

nav ul li a {
    color: #000;
    background-color: #efd6ce;
    padding: 1.11em;
    text-decoration: none;
    text-transform: lowercase;
    border-radius: 20px 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color:#d6adad;
}

.dropdown {
    display:none;
}

/* MAIN CONTENT */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

#top, #about, #skills, #projects, #contact {
    padding: 20px;
    width: 100%;
}

#about, #skills, #projects, #contact  {
    margin-top: 3em;
}

.card-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    min-height: 300px;
    max-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.img-container {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

/* TOP SECTION */

#top .img-container {
    opacity: 0.5;
    transition: 0.3s;
    position: relative;
    display: inline-block;
}

#top .img-container img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
}

#top .img-container:hover {
    opacity: 1;
}

.overlay {
    background: linear-gradient(to right, #d6adad, #efd6ce);
    border-radius: 50%;
    animation: bounceIn 2s infinite 0.3s;
}

#top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6em;
}

.code {
    font-family: 'VT323', monospace;
    font-size: 2em;
}

.creative {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.description {
    margin-top: 100px;
}

/* ABOUT SECTION */

#about {
    max-width: 800px;
    min-height: 200px;
}

#about span {
    background-color:#d6adad;
    transition: 0.3s;
}

#about span:hover {
    letter-spacing: 3px;
}
/* SKILL SECTION */

#skills {
    background: url('../resources/ruututausta.gif');
    width: 100%;
}

#skills .card {
    background: #fff;
}

/* PROJECTS SECTION */

#projects .card {
    background-color:#efd6ce;
}

#projects a {
    text-decoration: none;
    text-transform: lowercase;
    border-radius: 20px 10px;
    transition: 0.3s;
    background-color: #fff;
    color: #000;
    padding: 1.11em;
}

#projects a:hover {
    background-color:#d6adad;
}

#projects .img-container img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}

#projects .img-container .long {
    width: auto;
    height: 100%;
}

#projects .card {
    min-height: 500px;
}

/* CONTACT SECTION */

#contact {
    background-color:#d6adad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .img-container img {
    max-width: 100%;
    height: auto;
    transition: 0.3s;
}

#contact .img-container img:hover {
    opacity: 0.5;
}

#contact .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* FOOTER */

footer {
    background-color:#efd6ce;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width:682px) {

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav button {
        background-color: #efd6ce;
        padding: 1.11em;
        border: none;
        text-decoration: none;
        text-transform: lowercase;
        border-radius: 20px 10px;
        transition: 0.3s
    }

    nav button:hover {
        background-color:#fff;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: -20px;
        padding-bottom: 10px;
    }

    .dropbutton {
        width: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #d6adad;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .show {
        display:block;
    }

    .dropbutton img {
        max-width: 30px;
    }

    .navigation-pc {
        display: none;
    }
}

/* ANIMATIONS */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes bounceIn {
	0%, 80% {
    transform: translateY(0);
    opacity: 1;
  }

  5% {
    transform:translateY(-3px);
  }

  10% {
    transform: translateY(-5px);
  }

  15% {
    transform: translateY(-8px);
  }

  20% {
    transform: translateY(-10px);
  }
  30% {
    transform:translateY(-15px);
  }
	40% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-15px)
  }

    60% {
    transform: translateY(-10px);
  }
  70% {
    transform:translateY(-5px);
  }

  90% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }

  
}